@import "tailwindcss";
@plugin '@tailwindcss/typography';
@import "@nuxt/ui";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-sans: "Geist", sans-serif;
  /* Custom inline vars */
  --font-instrument-serif: "Instrument Serif", "serif";
  --font-noto-color-emoji: "Noto Color Emoji", "sans-serif";
}

@layer base {
  p,
  span {
    @apply text-zinc-700 dark:text-zinc-100;
  }
}
